# Python artifacts
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# IDE
.idea/

# Virtual environments
venv/
p_venv/

# Environment files
.env
tracker/analytics/.env

# SQLite and Redis
db.sqlite3
dump.rdb

# Old installer scripts
Miniconda3-latest-MacOSX-arm64.sh

# Unneeded data
data.html
samples/
videos/

# Ignore ALL media outputs and uploads
media/*

# Model files
*.pt

# IntelliVision paths
intelli-vision

