numpy<2.0
opencv-python==4.6.0.66
scikit-learn~=1.6.1
scipy~=1.15.3
cython
matplotlib~=3.10.3
lap~=0.5.12
filterpy~=1.4.5
numba
psutil~=7.0.0
PyYAML~=6.0.2
pillow~=11.2.1
gdown==4.5.3
torch~=2.7.1
torchvision~=0.22.1
torchreid
tensorboard
ultralytics~=8.3.150
tqdm~=4.67.1
setuptools~=80.8.0
pandas~=2.2.3
requests~=2.32.3
packaging~=25.0