numpy<2.0
opencv-python~=4.11.0.86
scikit-learn~=1.6.1
scipy~=1.15.1
cython
matplotlib~=3.10.0
lap~=0.5.12
filterpy~=1.4.5
numba
psutil~=7.0.0
PyYAML~=6.0.2
pillow~=11.1.0
gdown==4.5.3
torch~=2.5.1
torchvision~=0.20.1
torchreid
tensorboard~=2.18.0
ultralytics~=8.2.21
tqdm~=4.67.1
setuptools~=75.8.0
pandas~=2.2.3
requests~=2.32.3
packaging~=24.2
defusedxml~=0.7.1
ipython~=8.32.0
typing_extensions~=4.12.2
PyQt6~=6.9.1
future~=1.0.0
jupyter~=1.1.1
pip~=25.1.1
attrs~=25.1.0
argparse~=1.4.0
wheel~=0.45.1
tornado~=6.4.2
Jinja2~=3.1.5
redis~=6.2.0
Django~=5.2.3
asgiref~=3.8.1
sqlparse~=0.5.3
colorama~=0.4.6
wcwidth~=0.2.13
billiard~=4.2.1
cffi~=1.17.1
six~=1.17.0
python-dateutil~=2.9.0.post0
prompt_toolkit~=3.0.50
Pygments~=2.19.1
beautifulsoup4~=4.13.3
soupsieve~=2.6
dnspython~=2.7.0
idna~=3.7
httpcore~=1.0.7
httpx~=0.28.1
anyio~=4.8.0
h11~=0.14.0
filelock~=3.16.1
amqp~=5.3.1
vine~=5.1.0
h5py~=3.12.1
pytz~=2024.2
thop~=0.1.1-2209072238
rich~=13.9.4
keras~=3.8.0
ipywidgets~=8.1.5
notebook~=7.3.2
sniffio~=1.3.1
click~=8.1.8
kombu~=5.5.4
SQLAlchemy~=1.4.23
urllib3~=2.3.0
overrides~=7.7.0
threadpoolctl~=3.5.0
mpmath~=1.3.0
sympy~=1.13.1
platformdirs~=4.3.6
decorator~=5.2.1
tabulate~=0.9.0
astunparse~=1.6.3
optree~=0.13.1
tensorflow~=2.18.0
opt_einsum~=3.4.0
networkx~=3.4.2
fsspec~=2024.12.0
jsonschema~=4.23.0
referencing~=0.36.2
traitlets~=5.14.3
celery~=5.5.3
pydantic~=2.11.5
greenlet~=3.2.2
gevent~=25.5.1
MarkupSafe~=3.0.2
certifi~=2025.6.15
py-cpuinfo~=9.0.0
imageio~=2.37.0
tifffile~=2025.6.11
tzdata~=2025.2
Markdown~=3.7
pydantic_core~=2.33.2
tenacity~=9.0.0
contourpy~=1.3.1
fonttools~=4.55.3
pyparsing~=3.2.1
cachetools~=5.5.2
plotly~=5.24.1
webcolors~=24.11.1
jsonpointer~=3.0.0
isoduration~=20.11.0
fqdn~=1.5.1
cycler~=0.12.1
ipykernel~=6.29.5
kiwisolver~=1.4.8
Werkzeug~=2.0.3
djangorestframework~=3.16.0
python-dotenv~=1.1.0