fastapi
uvicorn
python-multipart
python-dotenv
loguru
opencv-python
numpy
pandas
Pillow
ultralytics
deep-sort-realtime
easyocr
pytesseract
pymongo
dnspython
cloudinary
requests
python-dateutil
pyyaml
tqdm
