# Core Dependencies
fastapi
uvicorn
python-multipart
python-dotenv
loguru

# Computer Vision
opencv-python
numpy
pandas
Pillow
ultralytics
deep-sort-realtime
easyocr
pytesseract

# Database & Cloud
pymongo
dnspython
cloudinary

# Utilities
requests
python-dateutil
pyyaml
tqdm
